.mat-sidenav-container {
  height: 100vh;
}
.sidenav {
  background-color: var(--theme-color, #1e1e2d);
  color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

mat-nav-list a {
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 15px;
  span{
    color: #ffffff !important;
  }
}

.mat-nav-list a:hover, 
.mat-nav-list a:focus {
  background-color: rgba(255, 255, 255, 0.1); 
  transition: background-color 0.3s ease-in-out;
}

.mat-icon {
  font-size: 20px;
  color: var(--icon-color, #ffffff);
}

.mat-nav-list a mat-icon {
  margin-right: 10px;
}

.custom-navbar {
  background-color: var(--theme-color, #1e88e5);
  color: #fff;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3);
}

.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.navbar-links a mat-icon {
  margin-right: 5px;
}

button.mat-icon-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.theme-selector {
  margin-top: 20px;
  color: #fff;
}

.mat-form-field {
  width: 100%;
  color: #fff;
}

.mat-select {
  color: #fff;
}

.dark-theme {
  --theme-color: #2d2d2d;
  --icon-color: #f1f1f1;
  background-color: #121212;
  color: #f1f1f1;
}

.dark-theme .sidenav {
  background-color: #1d1d1d;
}

.dark-theme .mat-sidenav-content {
  background: #1d1d1d;
}

.dark-theme .custom-navbar {
  background-color: #3a3a3a;
}

.mat-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-select {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.mat-option {
  background-color: #444;
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 10px;
  color: #fff !important;
}

.spacer {
  flex-grow: 1;
}

.active-link {
  font-weight: bold !important;
  color: rgb(221, 221, 226) !important;
}

.btn-in{
  color:#000 !important
}