<div class="route-container">
  
  <a mat-list-item routerLink="/dental-linic" class="route-item">
    <img src="assets/images/202.webp" alt="dental-lini" class="route-image">
    <span class="route-title d-block">{{ 'APPOINTMENTS_TODAY' | translate }}</span>
  </a>

  <a mat-list-item routerLink="/installments" class="route-item">
    <img src="assets/images/clinic-software.jpg" alt="Installments" class="route-image">
    <span class="route-title d-block">{{ 'INSTALLMENTS' | translate }}</span>
  </a>

  <a mat-list-item routerLink="/course-list" class="route-item">
    <img src="assets/images/images.jfif" alt="Courses List" class="route-image">
    <span class="route-title d-block">{{ 'COURSES_LIST' | translate }}</span>
  </a>
</div>